/* fallback */
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  src: local('Nokora'), url(RcHCCp5FjjoNcgaMiOyw0A.woff2) format('woff2');
}
/* khmer */
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  src: local('Nokora'), url(VxobJao3KaM-_C2bBUmLyPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}
/* fallback */
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 700;
  src: local('Nokora Bold'), local('Nokora-Bold'), urlUt_sYsTpQBUnr7vux-2TeQ.woff2) format('woff2');
}
/* khmer */
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 700;
  src: local('Nokora Bold'), local('Nokora-Bold'), url(naM9WnZTmx0v1FTxr9aMhRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}
