.slider-content-area {
	position: relative;
}

.news-title-block {
	position: absolute;
	bottom: 0%;
	width: 100%;
}

.news-title {
	background-color: black;
	padding: 0.9%;
	border-radius: 4px;
	text-align: center;
}

.news-title h4 {
	color: white !important;
}

.news-content>p {
	font-size: 1.1em;
	text-align: justify;
	text-indent: 1.50em;
}

.article-info strong {
	position: relative;
	display: inline-block;
}
.news-content p img{
	display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.news-content p{
	line-height: 30px !important;
	font-family: Arial, sans-serif, 'NotoSansKhmer', serif !important;
}
.news-image {
	border-radius: 4px;
	background-color: #fff;
	height: 300px;
	width: 100%;
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	background-position: center bottom;
	background-size: cover;
	-ms-behavior: url(backgroundsize.min.htc);
	-ms-background-position-x: center;
	-ms-background-position-y: center;
	background-position: top;
}