.slider-content-area {
	position: relative;
}

.news-title-block {
	position: absolute;
	bottom: 0%;
	width: 100%;
}

.news-title {
	background-color: rgba(0, 0, 0, 0.65);
	padding: 0.8%;
	border-radius: 4px;
	text-align: center;
}

.news-title h4 {
	color: white !important;
}

.news-content>p {
	font-size: 1.1em;
	text-align: justify;
	text-indent: 1.50em;
}

.article-info strong {
	position: relative;
	display: inline-block;
}