@CHARSET "ISO-8859-1";

.panel-bottom {
	position: fixed;
	bottom: -60px;
	width: 348.665px;
}

.panel-bottom .panel-heading {
	display: flex;
}

.panel-bottom a {
	flex-grow: 3;
	color: #FFF !important;
	border-right: 1px solid #FFF;
	padding-left: 15px;
	font-size: 1.3em;
}