.panel-body{
  padding-right: 15px;
}
.card-1{
	margin-right: 0px;
}
#owl-demo .item .owl-image {
	display: block;
	height: 265px !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	height: 265px;
	width: 100%;
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	background-position: center bottom;
	background-size: cover;
	-ms-behavior: url(backgroundsize.min.htc);
	-ms-background-position-x: center;
	-ms-background-position-y: center;
	background-position: top;
}

#owl-demo .item .news-title-background {
	background-color: black;
	opacity: 0.90;
	position: absolute;
	bottom: 0%;
	color: white;
    padding: 15px;
    font-size: 1.2em;
    height: 88px; 
    width: 100% !important;   
}

.owl-desc{
	    line-height: 25px;
    height: 50px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
