@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Koulen);
@import url(http://fonts.googleapis.com/css?family=Nokora:400,700);

/*######################################bootstrap modify classes*/
img{
	border-radius: 4px;
}
a:hover{
	text-decoration: none;
}
hr{
	border: 1.5px solid #eeeeee;
}
.navbar-brand{
	margin-left: 1% ! important ;
}
.navbar-brand a img{
	margin-top: 4px ! important ;
}
html{
	position: relative;
  min-height: 100%;
}
body{
	background-color: #EDECEC;
	margin-bottom: 60px;
	font-family: 'Lato', Calibri, Arial, sans-serif, 'Nokora', serif;
}
@media (max-width: 768px) {
	.col-sm-8{
		padding-right: 0px;
	}
}
.navbar{
	font-family: 'Lato', Calibri, Arial, sans-serif, 'Koulen', cursive;
}
.pager > .active > a,
.pager > .active > span,
.pager > .active > a:hover,
.pager > .active > span:hover,
.pager > .active > a:focus,
.pager > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #50a253;
  border-color: #50a253;
  cursor: default;
}
.panel{	
	border-radius: 4px;
	margin-bottom: 15px;
}
.panel-body{
	padding: 10px 0 0 10px;
}
.panel-body hr{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 25px;
    margin-right: 35px;
}
.panel-heading {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
ul.list-group > .list-group-items{
	border-left: none;
}
.list-group-item-heading{
	color: #fff ! important;
}
/*h2{
	font-size: 3em ! important;
}*/
/*#####################################background color class */
/* .bg-primary, .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9 h5{
	color: #fff;
} */
/* #primary */
.bg-primary{
	background-color: #50a253;
}
/* # */
.bg-1{
	background-color: #50a253;
}
/* #primary */
.bg-2{
	background-color: #50a253
}
/* #primary */
.bg-3{
	background-color: #50a253
}
/* #primary */
.bg-4{
	background-color: #50a253
}
/* #primary */
.bg-5{
	background-color: #50a253
}
/* #primary */
.bg-6{
	background-color: #50a253
}
/* #primary */
.bg-7{
	background-color: #50a253
}
/* #primary */
.bg-8{
	background-color: #50a253
}
/* #primary */
.bg-9{
	background-color: #50a253
}
/*#####################################text classes*/

/*
limit line 
.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: N;    				number line to show
   line-height: X;        
   height: X x N;     
}
*/
.text-1, .text-2, .text-3, .text-4, .text-5, .text-h5-2, .text-h5-2-slider, .text-h6-2{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
}

.text-1 {
   line-height: 16px;     /* fallback */
   height: 16px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
}
.text-2 {
   line-height: 20px;     /* fallback */
   height: 40px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
}
.text-h5-2-slider{
   line-height: 27px;
   height: 55px;
   -webkit-line-clamp: 2;
}
.text-h5-2{
	line-height: 22px;
  height: 44px; 
  -webkit-line-clamp: 2;
  font-size: 18px;
}
.text-h6-2 {
	font-size: 15px;
   line-height: 20px;     /* fallback */
   height: 41px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
}
.text-3 {
   line-height: 16px;     /* fallback */
   height: 48px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
}
.text-4 {
   line-height: 20px;     /* fallback */
   height: 80px;      /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
}
.text-5 {
   line-height: 20px;     /* fallback */
   height: 100px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
}
/* ###################################### other class*/
.badge{
	background-color: #BBBBEB;
}
.content-area-aritcle, .content-area{
	margin-top: 55px;
	width: 90%;
}
.news-source{
	float: right;
}
.search-filter{
	margin-right: 1px; 
	width: 135px;
}
.search-wrapper{
	margin-top: 15px;
}
.search-wrapper input{
  width: 60%;
}
/*###################################clear style*/
.clear-paddings{
	padding: 0 ! important;
}
.clear-padding-left{
	padding-left: 0 ! important;
}
.clear-padding-right{
	padding-right: 0 ! important;
}
.clear-padding-top{
	padding-top: 0 ! important;
}
.clear-padding-bottom{
	padding-bottom: 0 ! important;
}

.clear-margins{
	margin: 0 ! important;
}
.clear-margin-left{
	margin-left: 0 ! important;
}
.clear-margin-right{
	margin-right: 0 ! important;
}
.clear-margin-top{
	margin-top: 0 ! important;
}
.clear-margin-bottom{
	margin-bottom: 0 ! important;
}

/*#######################################footer style*/
.footer{	
	position: absolute;
  bottom: 0px;
  width: 100%;
	height: 60px;
	border: none;
	-webkit-box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.3);
	box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.3);
	background: #50a253;
}
.footer p{
color:#ffffff;
float:left;
width: 96%;
margin: 2% 0 2% 0;
font-size:14px;
text-align:center;
}
.footer p a{
color:#ffffff;
text-decoration:none;
}


/*############################################card style*/
.card-detail{
	border: 1px solid #FFE3CB;
}
.card-detail h5{
	margin: 0 0 10px 10px;
}
.card-detail h6{
	margin-bottom: 3px; 
	padding: 0px 10px 0px 10px;
}
.card-detail p{     
  margin-bottom: 5px;    
  padding-left: 10px; 
  border-top: 1px solid #FFE3CB;
  padding-right: 10px;
}
.card-detail .news-source, .news-date, .news-count{
	border-top: 1px solid #FFE3CB;
}
.card-detail .news-date{	 
  border-right: 1px solid #FFE3CB;
}


.card-1 *, .card-2 *{
	color: #444444;
}
.card, .card-1, .card-2{
	border-radius: 4px;
}
.card-1{
  margin-right: 10px;
  display: table;
}
.card-2{
	width:  48.85%; 
	display: table;
}
.card-2 kbd, .card-2 time{
  color: #fff;
}
.card, .card-2{
	/* margin-right: 1.5%; */
	margin-right: 10px;
	margin-bottom: 10px;
}
.card a:hover{
	text-decoration: none;
}
.card-body .lv-item {
	padding: 12px 20px;
}
.card {
	position: relative;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.card .card-header {
	position: relative;
}
.card-right{
	margin-bottom: 15px;
}
.card-left{
	margin-left: 8.35%;
	margin-right: 8.35%;
}
@media screen and (min-width: 768px) {
	.card .card-header:not(.ch-alt) {
		padding: 23px 26px;
	}
}

@media screen and (max-width: 991px) {
	.card .card-header:not(.ch-alt) {
		padding: 18px;
	}
}

/*.card .card-header h2 {
	margin: 0;
	line-height: 100%;
	font-size: 17px;
	font-weight: 400;
}*/

.card .card-header h2 small {
	display: block;
	margin-top: 8px;
	color: #AEAEAE;
	line-height: 160%;
}

@media screen and (min-width: 768px) {
	.card .card-header.ch-alt {
		padding: 23px 26px;
	}
}

@media screen and (max-width: 991px) {
	.card .card-header.ch-alt {
		padding: 18px 18px 28px;
	}
}

.card .card-header.ch-alt:not([class*="bgm-"]) {
	background-color: #f7f7f7;
}

.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
	color: #fff;
}

.card .card-header .actions {
	position: absolute;
	right: 10px;
	z-index: 2;
	top: 15px;
}

.card .card-header .btn-float {
	right: 25px;
	bottom: -23px;
	z-index: 1;
}

@media screen and (min-width: 768px) {
	.card .card-body.card-padding {
		padding: 23px 26px;
	}
}

@media screen and (max-width: 991px) {
	.card .card-body.card-padding {
		padding: 18px;
	}
}

.card .card-body.card-padding-sm {
	padding: 15px;
}



.go-social .card-body {
	padding: 0 15px 20px;
}

.go-social .card-body [class*="col-"] {
	padding: 12px;
}

.go-social .card-body [class*="col-"] img {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.go-social .card-body [class*="col-"]:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}