@CHARSET "ISO-8859-1";

.category-btn {
    position: fixed;
    z-index: 9999;
    height: 100%;
    top: 12%;
}
.category-icon {
    position: absolute;
    cursor: pointer;
    left: -32px;
}
.category-icon a {
    position: relative;
    background-color: #50a253;
    height: 48px;
    width: 32px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.4em;
    left: -3px;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;

}



/*.collision-btn {
    height: 200px;
    overflow: hidden;
    top: 15%;
}*/

#btn-show {
    position: fixed;
    background-color: #50a253;
    height: 48px;
    width: 32px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.4em;
    left: -3px;
    bottom: 0;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}